.album-list-item {
    aspect-ratio: 1 / 1;    

    &:hover {
        background: gray;
        color: white;
    }
}

.album-list-item-photo {
    overflow: hidden;
    height: 100%;
    min-height: 10vh;
}

.link {
    text-decoration: none;
    color: none;
}