
.album-list-item {
    // aspect-ratio: ;    
    height: 100%;
    color: rgb(104, 104, 104);

    &:hover {
        background: gray;
        color: white;
    }
}

.album-list-item-photo {
    overflow: hidden;
    aspect-ratio: 1 / 1 ;
}

.link {
    text-decoration: none;
    color: none;
}

